parameters:
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    excludePaths:
        - src/Output/Copy
        - src/ServiceProvider.php
    fileExtensions:
        - php
    universalObjectCratesClasses:
        - cebe\openapi\SpecObjectInterface
